doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')

    script() var socket = io.connect('http://192.168.0.110:3000');socket.on('connect', function(data){socket.emit('video');});
  body
    block content
